[req]
req_extensions = v3_req
distinguished_name = dn
prompt = no

[dn]
CN = scandoc_server

[v3_req]
keyUsage = keyAgreement, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
